/* Траектория 1 - верхний правый угол, кругом (с учётом размера карточки) */
@keyframes float1 {
  0% {
    left: 0%;
    top: 0%;
  }
  25% {
    left: calc(100% - 6.25vw);
    top: 0%;
  }
  50% {
    left: calc(100% - 6.25vw);
    top: calc(100% - 6.25vw);
  }
  75% {
    left: 0%;
    top: calc(100% - 6.25vw);
  }
  100% {
    left: 0%;
    top: 0%;
  }
}

/* Траектория 2 - диагональная */
@keyframes float2 {
  0% {
    left: calc(100% - 6.25vw);
    top: calc(100% - 6.25vw);
  }
  25% {
    left: calc(50% - 3.125vw);
    top: 0%;
  }
  50% {
    left: 0%;
    top: calc(50% - 3.125vw);
  }
  75% {
    left: calc(60% - 3.125vw);
    top: calc(100% - 6.25vw);
  }
  100% {
    left: calc(100% - 6.25vw);
    top: calc(100% - 6.25vw);
  }
}

/* Траектория 3 - зигзаг */
@keyframes float3 {
  0% {
    left: calc(50% - 3.125vw);
    top: calc(50% - 3.125vw);
  }
  25% {
    left: 0%;
    top: 0%;
  }
  50% {
    left: calc(100% - 6.25vw);
    top: calc(50% - 3.125vw);
  }
  75% {
    left: 0%;
    top: calc(100% - 6.25vw);
  }
  100% {
    left: calc(50% - 3.125vw);
    top: calc(50% - 3.125vw);
  }
}
@keyframes pulseGlow {
  0% {
    filter: brightness(1);
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    filter: brightness(1.6);
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    filter: brightness(1);
    transform: translate(-50%, -50%) scale(1);
  }
}
/* Анимация падения */
@keyframes fall {
  0% {
    top: -10%;
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    top: 110%;
    opacity: 0.7;
    transform: rotate(360deg);
  }
}
@keyframes floatUpDown {
  0% {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(-1.17vw);
  }
  100% {
    transform: translateY(0vw);
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(-1.56vw);
  }
  100% {
    transform: translateY(0vw);
  }
}

@keyframes floatDown {
  0% {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(1.56vw);
  }
  100% {
    transform: translateY(0vw);
  }
}
